POSTGRES_USER=contractuser
POSTGRES_PASSWORD=contractpass
POSTGRES_DB=contractdb
POSTGRES_HOST=localhost

REDIS_HOST=localhost

MINIO_HOST=localhost
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=contracts
